<form>
  <label>Search in favorites:
    <mat-form-field>
      <input [formControl]="formControl"
             [matAutocomplete]="auto"
             matInput
             placeholder="Start typing..."
             type="text"
             id="searchInput">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFactText">
        @for (fact of filteredOptions | async; track fact.id) {
          <mat-option [value]="fact" (onSelectionChange)="onOptionSelected(fact)">{{ fact.text }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </label>
</form>
