<main>
  <section class="content">
    <p>{{ currentRandomFact()?.text }}</p>
    <div class="button-list">
      <button extended mat-fab (click)="fetchRandomFact()">
        <mat-icon>refresh</mat-icon>
        Load a random fact
      </button>
      <button extended mat-fab (click)="saveAsFavorite(currentRandomFact())" [disabled]="!currentRandomFact()">
        <mat-icon>favorite</mat-icon>
        Save as favorite
      </button>
    </div>
    <app-favorite-facts-list></app-favorite-facts-list>
  </section>
</main>
