:root {
  --mobile-breakpoint: 500px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  @media (max-width: var(--mobile-breakpoint)) {
    font-size: 14px;
  }
}
